<!DOCTYPE html>
<html>
    <head>
        <title>Input Form</title>
    </head>
    <body>
        <form action="/check" method="post">
            <h1>d4rkc0de{1_l0v3_Pyth0nz_🐍}</h1>
            <h3>We are allowing users to run and test python commands. But remember don't try to be sneaky. We are keeping an eye on you :></h3>
            <label for="input-field">Enter your python command:</label>
            <input type="text" id="input-field" name="input">
            <br>
            <button type="submit">Submit</button>
        </form>
        <form>
            {{value1}}
        </form>
    </body>
</html>